<mzd-timeline firstContentSide="right" [alternateSide]="false" class="mx-auto col-lg-8 col-md-10 col-sm-12">
  <mzd-timeline-content>
    <mzd-icon><fa-icon [icon]="faComment"></fa-icon> </mzd-icon>

    Your HTML code or any angular component can be placed here. Content will be
    displayed in a card.
  </mzd-timeline-content>
  <mzd-icon><fa-icon>briefcase</fa-icon> </mzd-icon>
  <mzd-timeline-content>
    Your HTML code or any angular component can be placed here. Content will be
    displayed in a card.
  </mzd-timeline-content>
  <mzd-icon> <fa-icon>briefcase</fa-icon></mzd-icon>
  <mzd-timeline-content>
    Your HTML code or any angular component can be placed here. Content will be
    displayed in a card.
  </mzd-timeline-content>
  <mzd-icon><fa-icon>briefcase</fa-icon> </mzd-icon>
  <mzd-timeline-content>
    Your HTML code or any angular component can be placed here. Content will be
    displayed in a card.
  </mzd-timeline-content>
</mzd-timeline>
