.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.floating-buttom-clipboard {
  position: fixed;
  right: 3.5em;
  bottom: 9.5em;
  width: 65px !important;
  height: 65px !important;
  z-index: 5000;
}


.floating-buttom-sms {
  position: fixed;
  right: 3.5em;
  bottom: 3.5em;
  width: 65px !important;
  height: 65px !important;
  z-index: 5000;
}

mat-sidenav-content,
.mat-drawer-container {
  background-color: rgb(247, 247, 247)
}

.mat-list-base .mat-list-item {
  font-size: 14px !important;
}

mat-icon {
  font-size: 20px !important;
}

.dialog-sms-responsive {
  width: 75%;
  margin: 0 auto;
}

::ng-deep #mat-badge-content-0 {
  z-index: 10000;
  top: -2px;
  right: -2px;
}

.toolbar-buttons {
  margin-left: auto;
  margin-right: 40px;
}